.container-page{
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 85%;
}
.container-page_assign{
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(240deg, rgb(0, 184, 217), rgb(0, 101, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(0, 101, 255);
}